services:
    nextjs:
        build: .
        command: npm run dev
        ports:
            - "4000:4000"
        develop:
            watch:
                - action: sync
                  path: .
                  target: /app
                  initial_sync: true
                  ignore:
                      - node_modules/
                      - .next/
                - action: rebuild
                  path: package.json
